/JSP_Demo/nbproject/private/
/JSP_Demo/build/
/MVC_Demo/nbproject/private/
/MVC_Demo/build/
/test/target/
/hibernateTuto/nbproject/private/
/SessionPractice/nbproject/private/
/SessionPractice/build/
/NguyenQuangHuy_B18DCCN269_S/build/
/NguyenQuangHuy_B18DCCN269_S/nbproject/private/
/NguyenQuangHuy_B18DCCN269_Session/build/
/NguyenQuangHuy_B18DCCN269_Session/nbproject/private/
/CookiePractice/nbproject/private/
/CookiePractice/build/
/MusicDowload/nbproject/private/
/MusicDowloadCookie/nbproject/private/
/NguyenQuangHuy_B18DCCN269_Cookie/MusicDowloadCookie/nbproject/private/
/NguyenQuangHuy_B18DCCN269_Cookie/CookiePractice/build/
/NguyenQuangHuy_B18DCCN269_Cookie/CookiePractice/nbproject/private/
